.container div:first-child canvas {
    border: 2px solid #000000;
    display: block;
    margin: auto;
}

.dropdown {
    text-align: center;
    margin-bottom: 20px;
}

.dropdown button {
    min-width: 40%;
}

.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.bpm {
    width: 100px;
    margin: auto auto 10px;
}

.bpm input {
    text-align: center;
}